@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1,
h2 {
  font-family: sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.flex {
  display: flex;
}

.flex_space {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  background: none;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}

.primary-btn {
  padding: 15px 40px;
  background: #3c8f47;
  font-weight: bold;
  color: white;
}

.primary-btn:hover{
  background: #63c771;
}

.secondary-btn {
  padding: 15px 40px;
  background: none;
  border: 2px solid white;
  font-weight: bold;
  color: white;
}

.container {
  max-width: 85%;
  margin: auto;
  margin-bottom: 25px;
}

header {
  height: 10vh;
  line-height: 10vh;
  padding: 0 20px;
}

header img {
  margin: -3px 30px;
}

header ul {
  display: inline-block;
}

header ul li {
  display: inline-block;
  text-transform: uppercase;
}

header ul li a {
  color: #000;
  margin: 0 10px;
  transition: 0.5s;
}

header ul li a:hover {
  color: #7fc142;
}

header i {
  margin: 0 20px;
}

header button {
  padding: 13px 40px;
}

.home {
  height: 100%;
  color: #fff;
}

.home img {
  width: 100%;
  height: 100vh;
}

.book .text{
  font-family: serif;
}

.home .text h1 {
  font-size: 80px;
  font-family: serif;
  font-weight: 400;
}

.home p {
  margin: 20px 0;
}

.home button {
  margin-right: 20px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.bookform {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.bookform label {
  display: block;
  font-weight: bold;
}

.bookform input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
  box-sizing: border-box;
}

.bookform #roomName {
  height: 60px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.bookform #reservation {
  margin-top: 27px;
  background-color: #4CAF50;
}

button#bookn {
  padding: 15px 25px;
  background: #7fc142;
  margin-top: 15px;
  color: white;
}

input {
  outline: none;
  border: none;
  width: 100%;
}

.book {
  padding: 40px 0;
  background: #282834;
  color: #fff;
  margin-top: 20px;
}

h1 {
  font-family: serif;
}

.book h1 span {
  color: #7fc142;
}

.book input {
  padding: 20px;
}

.left,
.right {
  width: 50%;
  padding: 30px;
}

.top {
  margin-top: 80px;
}

.mtop {
  margin-top: 40px;
}

.heading h1 {
  font-size: 100px;
  font-weight: 500;
  opacity: 0.1;
  font-family: serif;
  position: absolute;
  top: -30px;
}

.heading h2 {
  margin: 30px 0;
  font-size: 45px;
  font-family: serif;
  font-weight: 400;
}

.about .heading h1 {
  top: 55px;
}

.about {
  position: relative;
}

.about .left {
  margin-top: 30px;
}

.about p {
  font-size: 15px;
}

.about button {
  margin: 30px 0;
}

.rooms {
  position: relative;
}

.rooms .text {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  padding: 30px;
}

.rooms i {
  font-size: 12px;
  color: #fbb234;
  margin: 15px 0;
  margin-right: 5px;
}

.rooms p {
  margin: 20px 0;
  opacity: 0.7;
}

.rooms h3 {
  font-size: 30px;
  line-height: 20px;
  margin-left: 20px;
  font-weight: 500;
  color: #7fc142;
}

.rooms h3 span {
  font-size: 15px;
  font-weight: 400;
  color: #000;
}

.gallery {
  position: relative;
}

.gallery img {
  width: 100%;
  height: 100%;
}

.services {
  position: relative;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.services .left {
  padding: 30px 0;
}

.services .box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.5s;
  padding: 20px;
}

.services .box .text {
  padding: 30px 0;
  border: 1px dashed #fff;
}

.services i {
  font-size: 50px;
  color: #7fc142;
  transition: 0.5s;
}

.services h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20p;
  transition: 0.5s;
}

.services img {
  width: 100%;
  height: 100%;
}

.services .box:hover {
  background: #7fc142;
  color: #fff;
  cursor: pointer;
}

.services .box:hover i,
.services .box:hover h3 {
  color: #fff;
}

#resvName{
  width: 20%;
  border: 2px solid black;
  border-radius: 4px;
}

.Customer {
  background-image: url("../images/background-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100%;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.Customer .container {
  max-width: 70%;
}

.Customer .item {
  padding: 10% 0;
  height: 300px;
}

.Customer i {
  width: 100px;
  height: 100px;
  background: rgba(126, 193, 64, 0.57);
  line-height: 100px;
  border-radius: 50%;
  font-size: 50px;
  margin-bottom: 50px;
}

.Customer p {
  line-height: 30px;
}

.Customer h3 {
  margin-top: 20px;
  color: #7fc142;
}

.news {
  position: relative;
}

.news i {
  color: #7fc142;
  text-transform: capitalize;
  font-size: 18px;
}

.news label {
  margin-top: 12px;
  margin-right: 20px;
}

.news .left {
  padding: 30px 0;
  width: 100%;
}

.news .right {
  width: 35%;
}

.news img {
  width: 100%;
}

.news .items p {
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.news .box {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 40px 0;
}

.news .box:nth-child(1) {
  padding-top: 0;
}

.news .box:nth-last-child(1) {
  border-bottom: none;
}

.news .box img {
  width: 110px;
  height: 114px;
}

.news .stext {
  padding: 0 0 0 20px;
}

.newsletter {
  position: relative;
}

.newsletter .container {
  background: #7fc142;
  padding: 40px 30px;
  position: absolute;
  top: -70px;
  left: 8%;
  width: 100%;
}

.newsletter h1 {
  width: 100%;
  font-size: 30px;
  color: #fff;
  margin-top: 10px;
}

.newsletter input {
  padding: 20px;
}

.newsletter input:nth-last-child(2) {
  width: 80%;
  background: rgba(255, 255, 255, 0.4);
}

.newsletter input:nth-last-child(1) {
  margin-left: 20px;
  width: 30%;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

footer {
  background: #282834;
  color: #b6b7b9;
  padding: 10% 0 5% 0;
}

footer .grid {
  grid-template-columns: 6fr 3fr 3fr;
}

footer p {
  color: #b6b7b9;
  font-size: 15px;
  line-height: 25px;
}

footer .icon i {
  margin: 20px 20px 20px 0;
  color: #b6b7b9;
}

footer h2 {
  color: #fff;
  margin-bottom: 10px;
}

footer li {
  margin-bottom: 20px;
}

footer i {
  color: #7fc142;
  margin: 20px 0;
  margin-right: 20px;
}

footer label {
  margin: 20px 0;
}

.legal {
  padding: 15px 0;
  background: #282834;
  color: #b6b7b9;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.white-link {
  color: white;
}

table,
td,
th {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 500px;
  margin-top: 10px;
}

.carousel-room {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 600px;
}

.carousel-item-room {
  height: 50px;
  padding: 6px;
  width: 100%;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex-shrink: 0;
  width: 100%;
  height: 50px;
  transition: transform 0.5s ease;
}

.carousel-item .text {

  position: absolute;
  top: 11%;
  left: 5%;

}

.carousel-gallery {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 400px;
  margin-bottom: 100px;
}

.carousel-slide-gallery {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.carousel-item-gallery {
  flex-shrink: 0;
  width: calc(100% / 3);
  height: 100%;
  text-align: center;
  line-height: 300px;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#event-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.event-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.event-modal-content h2 {
  margin-top: 0;
}

.event-modal-content p {
  margin-bottom: 5px;
}

.modal-room {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-room {

  background-color: #d4d1d1;
  margin: 3% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#contact-form label {
  display: block;
  margin-bottom: 10px;
}

#contact-form input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 14px;
  /* added font-size property */
}

#contact-form input[type="button"] {
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}

#contact-form input[type="button"]:hover {
  background-color: #3e8e41;
}

#notification-container {
  position: fixed;
  top: 20px;
  right: 20px;
  overflow: visible;
}

#notification-container .notification {
  display: block;
  position: absolute;
  width: 230px;
  top: 20px;
  right: 20px;
  opacity: 0.8;
  border-radius: 15px;
  animation-name: slideinTop;
  animation-duration: 0.85s;
  animation-fill-mode: forwards;
  padding: 10px 20px;
}

#notification-container .notification.error {
  background: #ff7466;
}

#notification-container .notification.success {
  background: #66ff80;
}

#notification-container .notification.warning {
  background: #ffec66;
}

#notification-container .notification p.body {
  font-size: 0.85rem;
  margin-bottom: 5px;
}

#notification-container .notification h3.title {
  font-size: 1.3rem;
  font-weight: 400;
}

#notification-container .notification .btn {
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 0;
  font-size: 1rem;
}

.inner-container {
  overflow: auto;
  height: 100%;
  width: 100%;
  padding: 15px 50px;
}

.inner-container h1.title {
  font-weight: 500;
  color: white;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  margin: 15px;
}

.custom-card {
  height: 400px;
  padding: 7px;
  cursor: pointer;
}

.custom-card .custom-card-body {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  border-radius: 20px;
  height: 100%;
  position: relative;
  box-shadow: 0 10px 15px 2px #0e0e0e;
}

.custom-card .custom-card-body .body-card-inner {
  position: absolute;
  height: 130px;
  background-color: white;
  border-radius: 20px;
  width: calc(100% - 30px);
  padding: 15px;
  left: 15px;
  bottom: 15px;
}

.custom-card .custom-card-body .body-card-inner h1 {
  font-weight: 300;
  margin: 2px;
  font-size: 1.5rem;
  background-color: #7bb3b3;
  padding: 5px 10px;
  border-radius: 10px;
  text-transform: capitalize;
}

.custom-card .custom-card-body .body-card-inner p {
  color: #3c3c3c;
  font-size: 0.9rem;
  text-align: end;
  margin: 0;
  margin-right: 5px;
}

@keyframes slideinTop {
  from {
    top: -150px;
  }

  to {
    top: 20px;
  }
}


.footer-distributed{
  background: #282834;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none; 
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #fff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}